finmath-lib kotlin
==========

****************************************

**Convenient method aliases for finmath lib.**

****************************************

[![Twitter](https://img.shields.io/twitter/url/https/github.com/finmath/finmath-lib.svg?style=social)](https://twitter.com/intent/tweet?text=Wow:&url=https%3A%2F%2Fgithub.com%2Ffinmath%2Ffinmath-lib)
[![GitHub license](https://img.shields.io/github/license/finmath/finmath-lib-kotlin.svg)](https://github.com/finmath/finmath-lib-kotlin/blob/master/LICENSE.txt)
[![Latest release](https://img.shields.io/github/release/finmath/finmath-lib-kotlin.svg)](https://github.com/finmath/finmath-lib-kotlin/releases/latest)
[![Maven Central](https://maven-badges.herokuapp.com/maven-central/net.finmath/finmath-lib-kotlin/badge.svg)](https://maven-badges.herokuapp.com/maven-central/net.finmath/finmath-lib-kotlin)
[![Build Status](https://travis-ci.org/finmath/finmath-lib-kotlin.svg?branch=master)](https://travis-ci.org/finmath/finmath-lib-kotlin)
[![javadoc](https://javadoc.io/badge2/net.finmath/finmath-lib-kotlin/javadoc.svg)](https://javadoc.io/doc/net.finmath/finmath-lib-kotlin)

## Introduction

A main objective of this project is to build a bridge from
a [Kotlin](https://kotlinlang.org) project
to [finmath-lib](https://finmath.net/finmath-lib/)
to allow for cleaner, more concise Kotlin code when using finmath-lib.

For example, since Kotlin allows for method names being symbols like ``+`` or ``-`` instead of
``add`` and ``sub``, by importing

	import net.finmath.kotlin.stochastic.*

you may write Kotlin code like

		val underlying = initialValue * exp(drift + diffusion)
		val payoff = max(underlying - strike, 0.0)
		val value = expectation(payoff * Math.exp(-riskFreeRate * optionMaturity))

instead of

		val underlying = diffusion.add(drift).exp().mult(initialValue)
		val payoff = underlying.sub(strike).floor(0.0)
		val value = payoff.mult(Math.exp(-riskFreeRate * optionMaturity)).average()

where ``diffusion`` is an object of type `net.finmath.stochastic.RandomVariable`.


Distribution
-------------------------------------

finmath-lib-kotlin is distributed through the central Maven repository. It's coordinates are:

    <groupId>net.finmath</groupId>
    <artifactId>finmath-lib-kotlin</artifactId>
	<version>${project.version}</version>


References
-------

* [finmath lib Project documentation](http://finmath.net/finmath-lib/)
provides the documentation of the library api.
* [finmath lib API documentation](http://finmath.net/finmath-lib/apidocs/)
provides the documentation of the library api.
* [finmath.net special topics](http://www.finmath.net/topics)
cover some selected topics with demo spreadsheets and uml diagrams.
Some topics come with additional documentations (technical papers).


License
-------

The code of "finmath lib", "finmath experiments" and "finmath lib cuda extensions" and "finmath lib plot extensions" and "finmath lib kotlin" (packages
`net.finmath.*`) are distributed under the [Apache License version
2.0](http://www.apache.org/licenses/LICENSE-2.0.html), unless otherwise explicitly stated.

